body {
  font-family: 'Monsterrat', sans-serif;
  color: #ffc4cd;
}

a {
  text-decoration: inherit;
  color: #ffc4cd;
}

.jumbo h1 {
  position: absolute;
  bottom: 1rem;
  font-weight: 100;
  text-align: center;
  right: 0.5rem;
}

.hero .main {
  display: block;
  font-weight: 100;
}

.hero .separator {
  display: block;
  font-style: italic;
  font-weight: 200;
}

@media screen and (max-device-width: 601px) {
  .hero {
    position: absolute;
    top: 10rem;
  }

  .hero .main {
    font-size: 48px;
  }

  .hero .separator {
    margin: 25px 0px;
  }

  .hero .name {
    font-weight: 600;
    font-style: bold;
    font-size: 44px;
  }
}

@media screen and (max-device-width: 586px) {
  .hero {
    position: absolute;
    top: 10rem;
  }
  .hero .name {
    font-size: inherit;
  }

  .jumbo h1 {
    right: 0rem;
    font-size: 25px;
  }
}

@media screen and (min-device-width: 600px) {
  .hero {
    display: flex;
    position: absolute;
    bottom: 22rem;
    right: 5rem;
  }

  .hero .main {
    display: inline;
  }
  .hero .separator {
    display: inline;
  }

  .hero h1 {
    font-weight: 100;
    font-size: 44px;
    /* text-align: center; */
  }

  .hero .separator {
    font-style: italic;
  }

  .hero .name {
    font-weight: 600;
    text-align: center;
    font-size: 50px;
  }

  .jumbo h1 {
    position: absolute;
    font-weight: 100;
    bottom: 3rem;
    right: 3rem;
    font-kerning: 20px;
  }

  hr {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    width: 5rem;
  }
}
